<h2>NOTICIAS DEL MUNDO GAMER</h2>

<div class="caja row" *ngFor="let noticia of noticias; let impar = odd; let par = even;"
    [ngClass]="{izq:par, der:impar}">
    <div class="contenido">

        <div class="imagen">
            <a routerLink="detalle-noticia/{{noticia.titulo}}"
                class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="http://alum3.iesfsl.org/assets/img/noticias/{{noticia.imagen}}" alt="Imagen Noticia">
            </a>
        </div>

        <div class="descaja">
            <a routerLink routerLink="detalle-noticia/{{noticia.titulo}}">
                <h3 class="font-weight-bold mb-3"><strong>{{noticia.titulo}}</strong></h3>
            </a>
            <p>{{noticia.descripcion}} <a routerLink="detalle-noticia/{{noticia.titulo}}" mdbBtn color="success"
                    mdbWavesEffect><strong>Ver mas</strong></a></p>
            <p class="detalle">Por <strong>{{noticia.nombre}}</strong>, {{noticia.fecha}}</p>
        </div>

    </div>
</div>

<!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator> -->
<!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav> -->