// TITULO PRINCIPAL
h2 {
    color: #b1b1b1;
    margin: 2% 4%;
    text-shadow: 2px 1px #bb0011;
}

// BLOQUE DE LA NOTICIA
.span{
    // float: left;
    min-height: 2rem;
    margin: 1% 4%;

    .caja{
        background: #f8f8f8;
        border: 0;
        margin-bottom: 2%;
        overflow: hidden;
        width: 100%;
        min-width: 15rem;
        max-width: 100rem;
        height: auto;
        border-radius: 3px;

        a{
            text-decoration: none;

            .titulo{
                float: right;
                width: 72.6%;
                margin-left: 3.2%;
                margin-top: 0.2%;
                line-height: 20px;
                margin-bottom: .3em;
                font-size: 1.3em;
                color: black;
                text-decoration: underline;
            }   

            .imagenCaja{
                float: left;
                position: relative;
                width: 100%;
                max-width: 24.2%;

                img{
                    width: 100%;
                    max-width: 200px;
                    max-height: 150px;

                    height: auto;
                    vertical-align: middle;
                    border: 0;
                }
            }
        }

        .descaja{
            float: left;
            width: 70.6%;
            margin-left: 3.2%;

            .detalle{
                color: #999;
                font-size: 0.9em;
            }

            .info{
                font-family: Arial;
                color: #000;
                margin-top: .3em;
                font-size: .95em;
                line-height: 1.2em;
                // text-overflow: ellipsis;
                // overflow: hidden;
                word-wrap: break-word
            }
        }
    }
}

@media screen and (max-width: 992px) {

    h2 {
        color: #b1b1b1;
        margin: 2% 0%;
        text-shadow: 1px .5px #bb0011;
    }
    .span{
        min-height: 2rem;
        margin: 0.2% 0%;
    }
}

@media screen and (max-width: 420px) {

    h2 {
        font-size: larger;
        text-align: center;
    }
}