<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <div class="titulo">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-3">Desarrolladores WEB</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Somos un grupo de estudiantes del instituto IES Font San Luis, y este
      es nuestro trabajo de fin de grado.<br>¡Disfruten!</p>
  </div>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="persona col-lg-3 col-md-6 col-sm-6 col-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(13).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Alejandro Lopez</h5>
      <p class="res text-uppercase blue-text">
        <strong>Mithjack</strong>
      </p>
      <p class="grey-text">Buen hombre, mejor persona.
        Es el mayor de la crew, le gusta jugar y tiene pelazo.
        Maneja los servidores como un hacker.
      </p>
      <ul class="list-unstyled mb-0">
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="persona col-lg-3 col-md-6 col-sm-6 col-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Dan Nedelea</h5>
      <p class="res text-uppercase blue-text">
        <strong>SrGalahad</strong>
      </p>
      <p class="grey-text">Se esta quedando calvo por el estrés. Le gusta el diseño web.
        La foto es para rememorar los viejos tiempos antes de ser calvo.
      </p>
      <ul class="list-unstyled mb-0">
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="persona col-lg-3 col-md-6 col-sm-6 col-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Marta Pretel</h5>
      <p class="res text-uppercase blue-text">
        <strong>Gorgora</strong>
      </p>
      <p class="grey-text">Es la única de clase. Siempre tiene algún problema de salud.
        Es buena persona, maneja youtube y le gustan los comics.
      </p>
      <ul class="list-unstyled mb-0">
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="persona col-lg-3 col-md-6 col-sm-6 col-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Juan Sanz</h5>
      <p class="res text-uppercase blue-text">
        <strong>Loper2000</strong>
      </p>
      <p class="grey-text">Maneja php y aun conserva el pelo. Se ha incorporado más tarde y por ello 
        ha sido motivo de discusiones. Al final se hizo querer. 
      </p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->