<div class="row">
    
    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/pxPb3T370kA" frameborder="1"
            allowfullscreen></iframe>
    </div>

    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/W61cWE5suig" frameborder="1"
            allowfullscreen></iframe>
    </div>

    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/W61cWE5suig" frameborder="1"
            allowfullscreen></iframe>
    </div>


</div>