<h2>TRANSMISIONES EN DIRECTO</h2>

<div class="detalle row">
    <a class="col-lg-6 col-md-6 col-sm-12 col-12" routerLink="/vista-audiovisuales">Ir a Videos</a>
</div>

<div class="row">
    
    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/pxPb3T370kA" alt="Video" frameborder="1"
            allowfullscreen></iframe>
    </div>

    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/Q4OcxQ1WWsg" alt="Video" frameborder="1"
            allowfullscreen></iframe>
    </div>

    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/diLA7ClYPNo" alt="Video" frameborder="1"
            allowfullscreen></iframe>
    </div>

    <div class="cuadro col-lg-6 col-md-6 col-sm-6 col-12">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/ACFUB2hFk44" alt="Video" frameborder="1"
            allowfullscreen></iframe>
    </div>


</div>