<!-- Logo de la Página -->

<div class="container">
    <!-- <a href="./inicio">
        <img src="../../assets/img/logo.png" alt="Logo" id="Logo">
    </a> -->
    <a title="Logo InitialG" href="./vista-noticias">
       <p> <img src="../../assets/img/logo.png" alt="Logo" id="Logo" /> </p>
    </a>

    <!-- Perfil de Usuario -->

    <!-- <a href="./perfil">
        <img src="../../assets/img/perfil.png" alt="Perfil" id="Perfil" />
    </a> -->
    <a title="Perfil de Usuario" href="./vista-foro">
        <img src="../../assets/img/perfil.png" alt="Perfil" id="Perfil" />
    </a>
</div>