<!-- Logo de la Página -->

<div class="row">
    <!-- <a href="./inicio">
        <img src="../../assets/img/logo.png" alt="Logo" id="Logo">
    </a> -->
    <a class="col-md-10" title="Logo InitialG" href="./vista-noticias">
        <img src="../../assets/img/logo.png" alt="Logo" id="Logo" />
    </a>

    <!-- Perfil de Usuario -->

    <!-- <a href="./perfil">
        <img src="../../assets/img/perfil.png" alt="Perfil" id="Perfil" />
    </a> -->
    <a class="col-md-2" title="Perfil de Usuario" href="./vista-foro">
        <img src="../../assets/img/perfil.png" alt="Perfil" id="Perfil" />
    </a>
</div>