header {
    // position: fixed;
    // display: block;
    // width: 100%;
    // height: max-content;

    background-image: url("../../assets/img/banner.png");
    top: 0;
    z-index: 1; /* Stay on top */


  width: 100%;
  background-position: center;
  color:#fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    .Logo {
        // display: block;
        text-align: center;
    }
    .Perfil {
        display: block;
        // width: 5%;
        margin-left: 75%;
        // top: 0;
        // right: 0;
    }
}
