footer{
    background-color: #bb0011;
    opacity: 0.8;
}

div{
    text-align: center;

    a{
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
}

.copy{
    color: white;
}