<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid">
    <div class="row">
        

        <div class="col-lg-3 col-md-3 mb-md-0 mb-3">
            <a routerLink="/contact/sobre-nosotros">SOBRE NOSOTROS</a>
        </div>

        <div class="col-lg-6 col-md-6 mb-md-0 mb-6 flex-center">
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/">
                <mdb-icon fab icon="facebook" size="2x" class="white-text col-lg-2 col-md-2 col-sm-2 col-2"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/InitialG20">
                <mdb-icon fab icon="twitter" size="2x" class="white-text col-lg-2 col-md-2 col-sm-2 col-2"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="https://www.google.es/">
                <mdb-icon fab fab icon="google-plus" size="2x" class="white-text col-lg-2 col-md-2 col-sm-2 col-2"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/initialg-g-7817b4207/">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text col-lg-2 col-md-2 col-sm-2 col-2"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/">
                <mdb-icon fab icon="instagram" size="2x" class="white-text col-lg-2 col-md-2 col-sm-2 col-2"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" href="https://www.pinterest.es/">
                <mdb-icon fab icon="pinterest" size="2x" class="white-text col-lg-2 col-md-2 col-sm-2 col-2"></mdb-icon>
            </a>
        </div>

        <div class="col-lg-3 col-md-3 mb-md-0 mb-3">
            <a routerLink="/contact/sugerencias">SUGERENCIAS</a>
        </div>
        </div>
    </div>

    <div class="copy footer-copyright text-center py-3">© 2021 Copyright InitialG Project</div>

</footer>