<footer class="footer text-center">
    <div class="container-fluid" style="background-color: black; border: 5px solid #bb0011;">
        <ul class="list-inline mb-2">
            <li class="list-inline-item">
                <a href="#">
                    <p>ESTE FOOTER ES UNA VERSION DE PRUEBA</p>
                    <p>¡Contacta con nosotros!</p>
                </a>
            </li>
        </ul>
        <ul class="list-inline mb-2">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#">
                    <i class="icon-social-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#">
                    <i class="icon-social-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="#">
                    <i class="icon-social-github"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; InitialG Project</p>
    </div>
</footer>