<h2>COMENTARIOS</h2>

<div class="caja">
    <div *ngFor="let entrada of entradas">

        <h3 class="titulo" *ngIf="ID.id==entrada.id">{{entrada.titulo}}</h3>

        <div class="descaja" *ngFor="let comentario of comentarios">

            <div *ngIf="ID.id==comentario.entradas_id && ID.id==entrada.id">

                <div class="lineaComentario row">
                    <p class="texto col-lg-5 col-md-5 col-sm-6 col-12">{{comentario.Nombre}} - {{comentario.creado}}</p>
                    <p class="texto col-lg-7 col-md-7 col-sm-6 col-12">{{comentario.contenido}}</p>
                </div>

            </div>
        </div>

        <p class="texto" *ngIf="ID.id==entrada.id">Categoría: <strong>{{entrada.CategoriaDesc}}</strong></p>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <a routerLink="/vista-foro" class="btn">Ver Entradas</a>
        </div>

        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <input type="text">
        </div> -->
    </div>

</div>