<h2>Comentarios</h2>

<div class="caja">
    <div *ngFor="let entrada of entradas">

        <h3 class="titulo" *ngIf="ID.id==entrada.id">{{entrada.titulo}}</h3>

        <div class="descaja" *ngFor="let comentario of comentarios">

            <div *ngIf="ID.id==comentario.entradas_id && ID.id==entrada.id">

                <div class="lineaComentario row">
                    <p class="texto col-lg-5 col-md-5 col-sm-6 col-12">{{comentario.Nombre}} - {{comentario.creado}}</p>
                    <p class="texto col-lg-7 col-md-7 col-sm-6 col-12">{{comentario.contenido}}</p>
                </div>

            </div>
        </div>

        <p class="texto" *ngIf="ID.id==entrada.id">Categoría: <strong>{{entrada.CategoriaDesc}}</strong></p>
    </div>
</div>

<a routerLink="/vista-foro" class="btn btn-primary">Ver Entradas</a>
<!-- 

<div class="span" *ngFor="let noticia of noticias">
    <div class="caja">
        <a routerLink="detalle-noticia/{{noticia.titulo}}">
            <h3 class="titulo">{{noticia.titulo}}</h3>
            <div class="imagenCaja">
                <img class="" src="{{noticia.imagen}}" alt="Imagen Noticia">
            </div>
        </a>
        <div class="descaja">
            <div class="info">{{noticia.descripcion}}</div>
            <div class="detalle">{{noticia.nombre}} - {{noticia.fecha}}</div>
        </div>
    </div>
</div> -->