<!-- Section: Contact v.2 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Contacta con nosotros</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Puedes enviarnos tus comentarios, sugerencias, 
        o el contenido que quieras ver en nuestra página web y nosotros te responderemos.</p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-9 mb-md-0 mb-5">

            <form>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="contact-name" class="form-control" mdbInput>
                            <label for="contact-name" class="">Tu nombre</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="contact-email" class="form-control" mdbInput>
                            <label for="contact-email" class="">Tu cuenta de correo</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="contact-Subject" class="form-control" mdbInput>
                            <label for="contact-Subject" class="">Asunto</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                                mdbInput></textarea>
                            <label for="contact-message">Tu mensaje</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </form>

            <div class="text-center text-md-left">
                <a mdbBtn mdbWavesEffect>Enviar</a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <mdb-icon fas icon="map-marked" size="2x" class="blue-text"></mdb-icon>
                    <p>Valencia, ESPAÑA</p>
                </li>
                <li>
                    <mdb-icon fas icon="phone" size="2x" class="mt-4 blue-text"></mdb-icon>
                    <p>+34 612 345 678</p>
                </li>
                <li>
                    <mdb-icon fas icon="envelope" size="2x" class="mt-4 blue-text"></mdb-icon>
                    <p class="mb-0">grupoinitialg@gmail.com</p>
                </li>
            </ul>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Contact v.2 -->