// TITULO PRINCIPAL
h2 {
    color: #b1b1b1;
    margin: 2% 4%;
    text-shadow: 2px 1px #bb0011;
}

.btn {
    color: black;
    background-color: gold;
    font-weight: bolder;
    font-size: large;
    font-family: "RockWell";
    margin-right: 9.25%;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
}
