@import "./../../../mixins";
@import "./../../../variables";

.caja{
    text-align: justify;
    background: $blanco;
    border: 2px $gris solid;
    margin: 2% auto;
    overflow: hidden;
    width: 92%;
    max-width: 90rem;
    border-radius: 5px;
    padding: 2% 5%;
}

.btn {
    color: $negro;
    background-color: $amarillo;
    font-weight: bolder;
    font-size: large;
    font-family: "RockWell";
    margin-right: 9.25%;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
}

@media screen and (max-width: 992px) {

    .caja{
        margin: 0.2% 0%;
        overflow: hidden;
        width: 100%;
        padding: 0.5% 2%;
    }
}