<h2>REGLAMENTO DE TORNEOS</h2>

<div class="caja row">

    <p>Como todos sabéis, los videojuegos son una parte importante de la oferta de entretenimiento de nuestra página, y por ello vamos a daros a conocer las bases que regirán los diversos torneos que se podrán jugar.
    <br>Las normas específicas de cada juego se publicarán en el anuncio de cada torneo, e incluirán estas normas generales.
    <br><strong>Bases</strong></p>

    <h3>1. Inscripción y creación</h3>

    <p>Los participantes deberán ser usuarios Premium para poder competir en los torneos.
    <br>Los torneos tendrán una clasificación PEGI de edad, por lo que si el participante es menor a la edad especificada será debidamente informado y la organización no se hará responsable del mal uso del mismo.
    <br>Los torneos tendrán un número límite de participantes. Todas las personas inscritas a partir de ese límite entrarán a formar parte de la reserva y serán llamados a competir sólo si algún participante de los inscritos dentro del cupo no ha podido participar.
    <br>Todos los reservistas serán informados de su estado y deberán entender que, aunque se presenten al torneo, pueden no obtener plaza para competir.
    <br>La organización se reserva el derecho de limitar el número de participantes a la mitad del cupo en función de la asistencia. En este supuesto, todos los reservistas serán debidamente informados.
    <br>Para <strong>crear un torneo</strong> necesita tener una suscripcion Premium
    </p>

    <h3>2. Antes del torneo</h3>

    <p>Los torneos se disputarán con una versión oficial del juego para su respectiva plataforma. Ninguna partida de los torneos se realizará con una versión diferente a la especificada.
    <br>Antes de entrar en el torneo, los participantes deberán aceptar que su configuración de botones sea la predeterminada del juego, no estando permitidos los cambios de configuración antes o durante la partida.
    <br>Los participantes aceptarán disputar estas eliminatorias en las consolas de demostración que se dispondrán para tal fin, con el mando estándar de cada consola.
    </p>

    <h3>3. Eliminatorias</h3>

    <p>Será un torneo de eliminación, en el que bastará la derrota en una ronda eliminatoria para quedar fuera.
    <br>Los participantes en el torneo podrán seguir adelante superando eliminatorias.
    <br>Cada eliminatoria del torneo se disputará al mejor de 1 partida o combate.
    <br>Al llegar a semifinal, la eliminatoria del torneo será al mejor de 3 partidas o combates.
    <br>Cada partida o combate se jugará al mejor de tres rounds
    <br>Los participantes que pierdan en la eliminatoria estarán fuera del torneo y no podrán seguir jugando, salvo casos excepcionales de expulsión o ausencia de otros participantes.
    </p>

    <h3>4. Rondas</h3>

    <p>A todos los participantes se les asignará un número propio al entrar en el torneo.
    <br>Antes de cada eliminatoria se anunciará, de forma clara, el nombre del participante y su número. Cada participante será responsable de estar atento a su nombre y número.
    <br>Una vez que se le haya llamado, el participante deberá acercarse hasta el lugar donde se encuentra el miembro de la organización que le llamó. Éste será quien le asigne la posición de Jugador 1/Jugador 2. La decisión del equipo sobre el mueble utilizado y la posición será definitiva, y en ningún caso negociable.
    <br>Una vez comunicados su nombre y número, el participante tendrá 1 minuto para llegar junto al miembro del equipo y colocarse para empezar su eliminatoria. Será responsabilidad de cada participante llegar al lugar en cuestión en tiempo y forma, ya que el equipo de organización no puede abandonar la zona del torneo para ir a buscar a los participantes.
    <br>La organización se reserva el derecho a dar por perdida la eliminatoria en caso de que alguno de los participantes no aparezca en el lugar del enfrentamiento tras llamarle por el nombre, independientemente de toda circunstancia atenuante.
    <br>El juego cuenta con un límite de tiempo para que los participantes seleccionen a su personaje o equipo, que se deberá elegir en ese lapso de tiempo o bien se competirá con la selección por defecto. Si el límite de tiempo se supera ampliamente, el participante perderá la partida o combate.
    </p>

    <h3>5. Material</h3>

    <p>Si el material falla durante una eliminatoria, se deberá avisar de inmediato a un miembro del equipo oficial.
    <br>En caso de fallo del material se repetirá el combate, partido o carrera.
    </p>

    <h3>6. Empates, accesos y derrotas</h3>

    <p>Los participantes del torneo aceptan que la organización se guarde el derecho de otorgar, del modo que consideren apropiado, accesos directos a rondas avanzadas, solucionar los empates o descuadres de participantes, y administrar las derrotas por causas ajenas al combate.
    <br>También aceptan que las decisiones de la organización son definitivas, y el no aceptar sus indicaciones puede suponer la derrota directa en los combates o incluso la descalificación del torneo.
    </p>

    <h3>7. Causa de derrota directa</h3>

    <p>Si un participante pulsa el botón de PAUSA durante un combate ,partido o carrera, perderá de forma inmediata.
    <br>La organización no tolerará ninguna excusa atribuida a teléfonos móviles, picores, estornudos, etcétera. La decisión será definitiva.
    </p>

    <h3>8. Causa de eliminación directa</h3>

    <p>Si no se puede localizar a un participante tras haberle llamado por su nombre y su número, quedará automáticamente eliminado. Todo participante que intente, de forma deliberada, sabotear o dañar el material de la organización para conseguir que se reinicie la eliminatoria, quedará automáticamente descalificado del torneo.
    <br>Toda aquella persona que intente entorpecer las eliminatorias con abuso verbal o físico a los miembros de la organización a los participantes del torneo, quedará descalificado del torneo, y posiblemente se le expulse del recinto.
    <br>Negarse a disputar un combate y mostrar un comportamiento inapropiado que suponga el retraso del torneo, implica la eliminación de ese participante, independientemente del prestigio que tenga en el torneo.
    </p>

    <h3>9. Otros términos y condiciones</h3>

    <p>Al competir en cualquier torneo los participantes aceptan también el tomar parte de otras actividades promocionales, como permitir que se les hagan fotografías.
    <br>Todo ganador o finalista del torneo que se niegue a que le hagan fotografías, perderá su derecho al título y/o premios.
    <br>La organización del salón no se hace responsable del viaje ni del alojamiento de los participantes durante el tiempo que dure el torneo. Será responsabilidad de cada persona llegar hasta el evento de Jerez.
    <br>Si un participante decide no presentarse a la final del torneo, se reserva el derecho a sustituirlo con un participante adecuado, o a dar acceso directo a otro participante de su elección.
    <br>Es una regla básica de participación en todo evento que, en caso de acciones de colaboración entre participantes, o en caso de indicios de complicidad, o si se observa una conspiración explícita, los responsables de la ofensa serán expulsados y/o excluidos del evento en cuestión, así como de cualquier otro evento posterior.
    <br>El término «conspiración» queda definido como: manipular consciente o deliberadamente el resultado de un concurso o partida particular, con el objetivo de obtener el efecto deseado, que puede beneficiar directa o indirectamente a uno mismo y/o a cualquier otra persona presente. Un ejemplo de este caso sería perder a propósito un combate para dar ventaja a otro participante.
    <br>Si la organización debe intervenir, como consecuencia de que haya uno o varios individuos sospechosos de haber llevado a cabo alguna de las actividades mencionadas anteriormente, la decisión de la organización será definitiva y vinculante. No se revisará dicha decisión, salvo que así lo pida el director del torneo. Los participantes deberán ser conscientes de que toda actividad que se acoja a esta definición supondrá la exclusión de todo posible regalo y/o premio.
    <br>Se agradece la cooperación de todos los participantes en este aspecto. Si alguien tiene dudas sobre esta regla, por favor diríjase directamente a los responsables del torneo antes de entrar en él, para mayor seguridad de que se entiende lo que se espera de los participantes.
    <br>Obsérvese que, en circunstancias excepcionales, las reglas del torneo podrían ser objeto de cambio a última hora. En caso de que esto ocurra, el director y/o los organizadores del torneo se encargarán de que todos los participantes sean conocedores de este cambio lo antes posible.
    <br>La organización se reserva el derecho de expulsar a todo participante que, en su opinión, sea perjudicial y/o esté causando un impacto negativo en el evento. La decisión de la organización en todas las situaciones será definitiva y vinculante.
    </p>

    <p>Los derechos de autor de todas las imágenes, nombres comerciales, marcas registradas y logotipos son ® y pertenecen a sus respectivos propietarios.
    </p>

    <a routerLink="/vista-torneos" class="btn">Ver Torneos</a>
</div>