<section>

    <div class="vis_jue">
        <div class="container">

        <div class="row">
            <div class="col-md-4 v1">
                <div>
                    <a href="../../assets/juegos/j1/index.html">
                        <img src="../../assets/img/juegos/zerion.jpg" alt="gpic"/>
                        Zerion
                    </a>
                </div>   
            </div>

            <div class="col-md-4 v2">
                <a href="">
                    <img src="../../assets/img/juegos/icono_alt.jpg" alt="gpic"/>
                    Juego 2
                </a>
            </div>

            <div class="col-md-4 v3">
                <a href="">
                    <img src="../../assets/img/juegos/icono_retro.jpg" alt="gpic"/>
                    Juego 3                
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 v4">
                <a href="">
                    <img src="../../assets/img/juegos/icono_nm.jpg" alt="gpic"/>
                    Juego 4
                </a>
            </div>

            <div class="col-md-4 v5">
                <a href="">
                    <img src="../../assets/img/juegos/icono_alt.jpg" alt="gpic"/>
                    Juego 5
                </a>
            </div>

            <div class="col-md-4 v6">
                <a href="">
                    <img src="../../assets/img/juegos/icono_retro.jpg" alt="gpic"/>
                    Juego 6                
                </a>
            </div>
        </div>
    </div>
</div>
</section>