<h2>LISTADO DE JUEGOS ONLINE</h2>
<div class="vis_jue row">
    <div class="testeo" *ngFor="let juegos of juego">
        <div *ngIf="tipo.clase=='RE'; else AC">

            <div *ngIf="juegos.tipo=='RE'" class="v col-lg-4 col-md-6 col-sm-6 col-12">
                <a routerLink="detalle-juegos/{{juegos.id}}">
                    <div class="rainbow-buttonR">
                        <img src="http://alum3.iesfsl.org/assets/img/juegos/{{juegos.imagen}}" alt="Imagen del juego">
                        <p>{{juegos.titulo}}</p>
                    </div>
                </a>
            </div>
        </div>

        <ng-template #AC>
            <div *ngIf="juegos.tipo=='AC'" class="v col-lg-4 col-md-6 col-sm-6 col-12">
                <a routerLink="detalle-juegos/{{juegos.id}}">
                    <div class="rainbow-button">
                        <img src="http://alum3.iesfsl.org/assets/img/juegos/{{juegos.imagen}}" alt="Imagen del juego">
                        <p>{{juegos.titulo}}</p>
                    </div>
                </a>
            </div>
        </ng-template>

    </div>
</div>
    

