@import "./../../../mixins";
@import "./../../../variables"; 

.v{
    text-align: center;
    font-size: large;
}

// .vis_jue{
//     margin: 1% 4%;
// }
.testeo{
    margin: 2rem 0;
}

a {
    text-decoration: none;
    color: $blanco;
}

.rainbow-button {
    background-image: linear-gradient(90deg, #00c0ff 5%, #ffcf00 30%, #fc4f4f 55%, #00c0ff 80%);
    border-radius: 20px;
    // height: 12.2rem;
    // width: 18rem;
    // display: flex;
    width: 16.2rem;
    height: 10.5rem;
    // margin: 0% 2% ;

    &:hover{
        animation: slidebg 2s linear infinite;
    }

    img {
        margin: 2px;
        border-radius: 20px;
        height: 97.5%;
        width: 98.5%;
        // display: flex;
        // align-items: center;
    }
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.rainbow-buttonR {
    background-image: linear-gradient(90deg, #f80ed9 0%, #072bfa 49%, #c900fc 70%, #0849fc 90%);
    border-radius: 20px;
    width: 15.2rem;
    // width: 11.9rem;
    height: 10.5rem;

    &:hover{
        animation: slidebg 2s linear infinite;
    }

    img {
        margin: 2px;
        border-radius: 20px;
        height: 97.5%;
        width: 98.5%;
        // display: flex;
        // align-items: center;
    }
}