<section>
    <div class="vis_jue">
        <!-- <div class="container"> -->

        <div class="row">
            <div class="v col-lg-4 col-md-6 col-sm-6 col-6">
                <a href="../../assets/juegos/j1/index.html">
                    <div class="rainbow-button">
                        <img src="../../assets/img/juegos/zerion.jpg">
                        <p>Juego</p>
                    </div>
                </a>
            </div>

            <div class="v col-lg-4 col-md-6 col-sm-6 col-6">
                <a href="../../assets/juegos/j2/index.html">
                    <div class="rainbow-button">
                        <img src="../../assets/img/juegos/LME.jpg">
                        <p>Juego</p>
                    </div>
                    
                </a>
            </div>

            <div class="v col-lg-4 col-md-6 col-sm-6 col-6">
                <a routerLink="juego">
                    <!-- <div id="1"> -->
                    <div class="rainbow-buttonR">
                        <img src="../../assets/img/juegos/MP.jpg">
                        <p>Juego</p>
                    </div>
                    <!-- </div> -->
                </a>
            </div>

            <div class="v col-lg-4 col-md-6 col-sm-6 col-6">
                <a routerLink="juego">
                    <!-- <div id="2"> -->
                    <div class="rainbow-buttonR">
                        <img src="../../assets/img/juegos/RCS.jpg">
                    </div>
                    <!-- </div> -->
                </a>
            </div>

            
        </div>
    </div>
</section>