<section class="text-center pb-3 my-5">
    <!-- Detalles de compras -->
    <!-- <div class="datos" *ngIf="isUserLoggedIn; else no"> -->
    <div class="datos">
        <div class="barra"></div>
        <h2 class="h1 py-5">HISTORIAL DE COMPRAS</h2>
        
            <table class="table table-striped">
                
                <thead> 
                    <tr>
                        <th>
                            Nº Factura
                        </th>
                        <th>
                            Fecha Compra
                        </th>
                        <th>
                            Enviado
                        </th>
                        <th>
                            Fecha Envio
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>

                <tbody>
                    
                    <ng-container *ngFor="let facturas of factura">
                        <tr *ngIf="token.id==facturas.id_usuario">
                            
                            <th>
                                <p>{{facturas.id}}</p>
                            </th>
                            <th>
                                <p>{{facturas.fecha_compra}}</p>
                            </th>
                            <th>
                                <p *ngIf="!facturas.enviado">NO</p>
                                <p *ngIf="facturas.enviado">SI</p>
                            </th>
                            <th>
                                <p *ngIf="!facturas.fecha_envio">---</p>
                                <p *ngIf="facturas.fecha_envio">{{facturas.fecha_envio}}</p>
                                
                            </th>
                            <th>
                                <p>{{facturas.total | currency:'EUR':true}}</p>
                            </th>

                        </tr>
                    </ng-container> 

                </tbody>                
            </table>
        
    </div>
    <!-- Detalles de compras -->

    <!-- Si no estas logueado boton login -->
    <ng-template #no>
        <div class="datos">
            <h2 class="h1 py-5">INICIA SESIÓN PARA CONTINUAR</h2>
            <hr>
            <a routerLink='/account/login' class="dropdown-item waves-light" mdbWavesEffect *ngIf="!isUserLoggedIn">LOGIN</a>
        </div>
    </ng-template>
    <!-- Si no estas logueado boton login -->

</section>