<div>
    <a routerLink="/vista-juegos">
        <img src="./../../../assets/img/juegos/back.png"/>
        Volver a Juegos
    </a>
    <div id='eljuego'>{{idj}}</div>
</div>

<div>
    <iframe src="https://y8.com/embed/real_cop_simulator" scrolling="no"
        style="width: 960px; height: 640px; border: 0; text-align: center; padding: 0;"> </iframe>
</div>
<div>
    <iframe src="https://y8.com/embed/monopoly" scrolling="no"
        style="width: 960px; height: 640px; border: 0; text-align: center; padding: 0;"> </iframe>
</div>