<!-- Barra lateral -->
<div class="barra-lateral">

    <a routerLink="./vista-torneos">Próximos Torneos</a>
    <hr>
    <a routerLink="./vista-streammings">En directo</a>
    <hr>
    <a routerLink="./vista-juegos/">Juegos Destacados</a>
    <hr>
    <a routerLink="./vista-foro">Mejores comentarios</a>
    <hr>
    <a class="contenido" routerLink="account/register" title="Suscribirse">
        <img src="../../assets/img/suscribir_banner.png" alt="Pulsa aqui para suscribirte" />
    </a>
    <hr>
    <a class="icono tw-ic" href="https://twitter.com/InitialG20">Síguenos en
        <mdb-icon fab icon="twitter" size="2x" class="white-text"></mdb-icon>
    </a>
</div>