<!-- version1 -->


<!-- <div class="d-flex" id="wrapper">
    <div class="bg-light border-left" id="sidebar-wrapper">
        <div class="sidebar-heading"> Bienvenido a nuestra pagina </div>
        <div class="list-group list-group-flush">
            <a href="./vista-torneos" class="list-group-item list-group-item-action bg-light">Próximos Torneos</a>
            <a href="./vista-audiovisuales" class="list-group-item list-group-item-action bg-light">En directo</a>
            <a href="./vista-noticias" class="list-group-item list-group-item-action bg-light">Jugador de la Semana</a>
        </div>
    </div>
</div> -->



<!-- version2 -->

<!-- Side navigation -->
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" style="border: 1px solid red;">
            <p>puto</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="border: 1px solid red;">
            <p>pito</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="border: 1px solid red;">
            <p>pato</p>
        </div>
        <div class="lateralbar col-lg-3 col-md-3 col-sm-3">
            <a href="./vista-torneos">Próximos Torneos</a>
            <a href="./streammings">En directo</a>
            <a href="./vista-audiovisuales">En directo</a>
            <a href="./vista-juegos">Juegos mas Destacados </a>
            <a href="./detalle-torneo">Jugador de la Semana</a>
        </div>
    </div>
</div> -->

<div class="sidebar col-lg-3 mb-3 col-md-3 col-sm-3">
    <a href="./vista-torneos">Próximos Torneos</a> <hr>
    <a href="./vista-audiovisuales">En directo</a> <hr>
    <a href="./vista-juegos">Juegos mas Destacados</a> <hr>
    <a href="./vista-foro">Jugador de la Semana</a> <hr>
</div>