<!-- Barra lateral -->

<div class="barra-lateral">

    <form class="buscador form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar en la página" aria-label="Search">
        <button class="btn my-1 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>

    <a routerLink="./vista-torneos">Próximos Torneos</a>
    <hr>
    <a routerLink="./vista-streammings">En directo</a>
    <hr>
    <a routerLink="./vista-juegos/">Juegos Destacados</a>
    <hr>
    <a routerLink="./vista-foro">Jugador de la Semana</a>
    <hr>
    <div class="contenido"></div>

</div>