// Barra lateral

.barra-lateral{
  // estos 4 no se tocan
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  padding-top: .5rem;
  right: 0;

  a{
    text-decoration: none;
    text-shadow: 3px 0px 3px black;
    color: white;
    font-weight: bold;
    padding-top: 2rem;

    &:hover{
      transition: all .5s ease-in-out;
      text-shadow: 3px 0px 3px #bb0011;
    }
  }
  hr {
    background-color: #818181;
  }

  .contenido{
    border: white solid .5px;
    background-color: black;
    width: 100%;
    height: 10rem;
  }
}

.buscador{
  // max-width: 11rem;
  margin: auto;
  width: auto;
}
button {
  background-color: black;
  color: white;
  i{
    //position: absolute;
    right: 0;
    color: white;
  }
}


  //   // top: 0;
  //   right: 0;
  //   background-color: gray;
  //   height: 100%; /* Full-height: remove this if you want "auto" height */
  //   width: 20%; /* Set the width of the sidebar */
  //   //box-sizing: border-box;
  //   // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  //   // z-index: 1; /* Stay on top */
  //   // margin-top: 7%;
  //   right: 0;
  //   //border: 1px solid red;
  //   background-color: #111; /* Black */
  //   overflow-x: hidden; /* Disable horizontal scroll */






// /* The sidebar menu */
// .barra-lateral {
//   // margin-top: 9%;
//   height: 100%; /* Full-height: remove this if you want "auto" height */
//   width: max-content; /* Set the width of the sidebar */
//   //box-sizing: border-box;
//   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
//   // z-index: 1; /* Stay on top */
//   // margin-top: 7%;
//   right: 0;
//   //border: 1px solid red;
//   background-color: #111; /* Black */
//   overflow-x: hidden; /* Disable horizontal scroll */
// }

// /* The navigation menu links */
// .sidebar a {
//   padding: 6px 8px 6px 16px;
//   text-decoration: none;
//   color: #818181;
//   display: block;
// }

// /* When you mouse over the navigation links, change their color */
// .sidebar a:hover {
//   color: #f1f1f1;
// }

// /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//   .sidebar {
//     padding-top: 15px;
//   }
//   .sidebar a {
//     font-size: 18px;
//   }
// }
