section {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-right: auto;
    margin-left: auto;
}

.card {
    width: auto;
}

li > strong {
    font-size: xx-large;
}

input, select {
    margin-bottom: 10%;
}