// .bloque {
//   background-color: black;

//   height: 110%;
//   margin-left: -6%;
//   margin-right: -5%;
//   margin-top: -1%;
// }

// div.content {
//   padding: 0px;
// }

.contacts {
  background-color: white;
  // min-height: 41rem;
  // width: 25%;
  // position: sticky;
  max-height: 70vh;
  // height: 38rem;
  height: 100vh;
  overflow-x: hidden;

  // overflow-y: scroll;
  scrollbar-width: thin; /* "auto" or "thin" */
  -webkit-scrollbar-width: thin;
  scrollbar-color: gray black;
  -webkit-scrollbar-color: gray black;
  // height: 56vh;
  // background-color: transparentize($color: gray, $amount: 0.5);ç

  .contacto {
    // width: 100%;
    z-index: 0;

    &:hover {
      background-color: transparentize($color: gray, $amount: 0.7);
    }
  }
}

.basic-textarea textarea.bas {
  height: auto;
}

.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}
.card.chat-room .friend-list li:last-of-type {
  border-bottom: none;
}

.card.chat-room img.rounded-circle {
  border-radius: 50%;
}

.card.chat-room img.avatar {
  height: 3rem;
  width: 3rem;
}

.card.chat-room .text-small {
  font-size: 0.95rem;
}

.card.chat-room .text-smaller {
  font-size: 0.75rem;
}

.avatar {
  width: 3rem;
}

@media screen and (max-width: 991px) {
  .avatar {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .avatar {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .avatar {
    display: block !important;
  }
}

.info-chat {
  display: flex;
  background-color: black;
  background: linear-gradient(to right, black 60%, #80000b 100%);
  color: white;
  border-bottom: solid 2px #80000b;
  // z-index: 99;
  z-index: 1;

  top: 0;
  position: sticky;
  // height: 7.5vh;
  height: 3.5rem;
  // max-height: 4rem;
}

@media screen and (max-height: 683px) {
  .info-chat {
    top: 3.5rem;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.bloque {
  color: black;

  mdb-badge {
    background-color: transparentize($color: #bb0011, $amount: 0.2);
  }
}

.agregar {
  background-color: white;
  width: 100%;
  max-height: 70vh;
  height: 100vh;
  .campo {
    width: 100%;
    text-align: center;

    input {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      background-color: black;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      &:hover {
        background-color: #bb0011;
        color: white;
      }
    }
  }
}
