.seccion {
  max-height: 79vh;
}

.contacts {
  background-color: white;
  // min-height: 41rem;
  max-height: 70vh;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: thin; /* "auto" or "thin" */
  -webkit-scrollbar-width: thin;
  scrollbar-color: gray black;
  -webkit-scrollbar-color: gray black;

  .contacto {
    z-index: 0;

    &:hover {
      background-color: transparentize($color: gray, $amount: 0.7);
    }
  }
}

.avatar {
  width: 3rem;
}

@media screen and (max-width: 991px) {
  .avatar {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .avatar {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .avatar {
    display: block !important;
  }
}

.info-chat {
  display: flex;
  background-color: black;
  background: linear-gradient(to right, black 60%, #80000b 100%);
  color: white;
  border-bottom: solid 2px #80000b;
  z-index: 1;
  top: 0;
  position: sticky;
  height: 3.5rem;
}

// @media screen and (max-height: 683px) {
//   .info-chat {
//     top: 3.5rem;
//   }
// }

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.bloque {
  color: black;

  mdb-badge {
    background-color: transparentize($color: #bb0011, $amount: 0.2);
  }
}

.agregar {
  background-color: white;
  width: 100%;
  max-height: 70vh;
  height: 100vh;
  .campo {
    width: 100%;
    text-align: center;

    input {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      background-color: black;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      &:hover {
        background-color: #bb0011;
        color: white;
      }
    }
  }
}
