@import "./../../../mixins";
@import "./../../../variables"; 


.datos{
    box-shadow: 10px 10px 5px rgb(255, 255, 255);
}

.card{
    margin: 0.5em;
    border-radius: 5px;     
}

.oferta{
    background-color: rgb(33, 197, 33);
}

.cimagen{
    margin-top: 0.5em;
    border-radius: 5px;
    height: 170px;   
}

.brillibrilli{
    box-shadow: 3px 4px 5px rgb(255, 0, 0);
}