<!-- Listado productos -->
<section class="text-center pb-3 my-5">
  <div class="datos">

    <!--Titulo-->
    <h2 class="h1 py-5">TIENDA INITIALG</h2>

    
    <!-- Menu Categorias -->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav bg-dark" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand"><strong>Categorias</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">

                <li class="nav-item waves-light" mdbWavesEffect>
                    <a routerLink='/tienda' class="nav-link">Todas</a>

                </li>

                <!-- Listar categorias -->
                <div *ngFor="let cat of categoria">
                  <li class="nav-item waves-light" mdbWavesEffect>
                      <a routerLink='/tienda/{{cat.id}}' class="nav-link" (click)='redirectTo(cat.id)'>{{cat.nombre}}</a>
                  </li>
                </div>

            </ul>
        </links>
      </mdb-navbar>
    <!-- MENU -->
    
    <!--Section description-->
    <br>
    <p class="grey-text mb-5">Los mejores articulos Gaming y de apoyo a tu web favorita.</p>
      
    <!-- Articulos con Filtro -->
    <div *ngIf="filtro.clase; else todo">

      <!--Grid row-->
      <div class="row wrap align-items-center">
        <!--Grid column-->
        <div fxFlex="25%" fxLayoutGap="16px" *ngFor="let producto of catalogo">
          
          <div *ngIf="filtro.clase==producto.cat_id&&producto.disponible">
      
            <!--Card-->
            <mdb-card class="align-items-center testo">
              <a routerLink="/vista-producto/{{producto.id}}" class="dark-grey-text">
                <!--Card image-->
                <div class="view overlay waves-light" style="border-radius: 5px;" mdbWavesEffect>
                  <mdb-card-img src="http://alum3.iesfsl.org/assets/img/tienda/{{producto.imagen}}" class="img-fluid" alt="Responsive image"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </a>
              <!--Card content-->
              <mdb-card-body class="text-center">
                <!--Categoria Producto-->
                <a class="grey-text">
                  <div *ngFor="let cat of categoria">
                    <div *ngIf="producto.cat_id == cat.id"><h5>{{cat.nombre}}</h5></div>
                  </div>
                </a>

                <!-- Nombre Producto -->
                <h5>
                  <strong>
                    <a routerLink="/vista-producto/{{producto.id}}" class="dark-grey-text">{{producto.nombre}}
                      <div *ngIf="producto.estado == '1'">
                        <mdb-badge pill="true" danger="true">NEW</mdb-badge>
                      </div>
                      <div *ngIf="producto.estado == '2'">
                        <mdb-badge pill="true" class="oferta">OFERTA</mdb-badge>
                      </div>
                    </a>
                  </strong>
                </h5>
        
                <!-- Precio Producto -->
                <h4 class="font-weight-bold blue-text">
                  <strong> {{producto.precio--((producto.precio *producto.IVA)/100) | number: '0.0-2'}} €</strong>
                </h4>
                
                <!-- Stock Disponible -->
                <div *ngIf="producto.stock <= '10'; else mucho">
                  <div style="color:#ff8400" *ngIf="producto.stock<='10'&&producto.stock>'1'"> {{producto.stock}} Unidades Restantes</div>
                  <div style="color:#ff6f00" *ngIf="producto.stock=='1'"> Ultima Unidad </div>
                  <div style="color:#FF0000" *ngIf="producto.stock=='0'"> Sin Stock</div>
                </div>
                
                <ng-template #mucho>
                  <div style="color:#00ff00" *ngIf="producto.stock>'10'"> En Stock</div>
                </ng-template>
  
              </mdb-card-body>
              <!--Card content-->

            </mdb-card>
            <!--Card-->

          </div>
          
        </div>
        <!--Grid column-->
      </div>
      <!-- row -->
    
    </div> 
    <!-- Filtro -->
    
    <!-- Todos los Articulos -->
    <ng-template #todo>
      
      <!--Grid row-->
      <div class="row wrap align-items-center">
        
        <!--Grid column-->
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutGap="16px" *ngFor="let producto of catalogo">      
      
            <!--Card-->
            <mdb-card class="align-items-center testo" *ngIf="producto.disponible">
              
              <a routerLink="/vista-producto/{{producto.id}}" class="dark-grey-text">
                <!--Card image-->
                <div class="view overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="http://alum3.iesfsl.org/assets/img/tienda/{{producto.imagen}}" class="img-fluid" alt="Responsive image"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </a>

              <!--Card content-->
              <mdb-card-body class="text-center">
                <!--Categoria Producto-->
                <a class="grey-text">
                  <div *ngFor="let cat of categoria">
                    <div *ngIf="producto.cat_id == cat.id"><h5>{{cat.nombre}}</h5></div>
                  </div>
                </a>

                <!-- Nombre Producto -->
                <h5>
                  <strong>
                    <a routerLink="/vista-producto/{{producto.id}}" class="dark-grey-text">{{producto.nombre}}
                      <div *ngIf="producto.estado == '1'">
                        <mdb-badge pill="true" danger="true">NEW</mdb-badge>
                      </div>
                      <div *ngIf="producto.estado == '2'">
                        <mdb-badge pill="true" class="oferta">OFERTA</mdb-badge>
                      </div>
                    </a>
                  </strong>
                </h5>
        
                <!-- Precio Producto -->
                <h4 class="font-weight-bold blue-text">
                  <strong> {{producto.precio--((producto.precio *producto.IVA)/100) | currency:'EUR':true}}</strong>
                </h4>
                
                <!-- Stock Disponible -->
                <div *ngIf="producto.stock <= '10'; else mucho">
                  <div style="color:#ff8400" *ngIf="producto.stock<='10'&&producto.stock>'1'"> {{producto.stock}} Unidades Restantes</div>
                  <div style="color:#ff6f00" *ngIf="producto.stock=='1'"> Ultima Unidad </div>
                  <div style="color:#FF0000" *ngIf="producto.stock=='0'"> Sin Stock</div>
                </div>

                <ng-template #mucho>
                  <div style="color:#00ff00" *ngIf="producto.stock>'10'"> En Stock</div>
                </ng-template>
  
              </mdb-card-body>
              <!--Card content-->

            </mdb-card>
            <!--Card-->  

        </div>
        <!--Grid column-->
        
      </div>
      <!-- row -->
    </ng-template>
    <!-- Todo -->
    
  </div> 
</section>