<!--Navbar-->
<div class="test sticky-top">

<mdb-navbar class="test" SideClass="navbar sticky-top navbar-expand-lg navbar-dark lighten-1" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="#">InitialG</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink='vista-noticias' class="nav-link waves-light" mdbWavesEffect>NOTICIAS<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" tabindex="0">
          VIDEOS<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a routerLink='vista-audiovisuales' class="dropdown-item waves-light" mdbWavesEffect>GAMEPLAYS</a>
          <a routerLink='vista-streammings' class="dropdown-item waves-light" mdbWavesEffect>STREAMS</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" tabindex="0">
          JUEGOS<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a routerLink='vista-juegos' class="dropdown-item waves-light" mdbWavesEffect>ACTUAL</a>
          <a routerLink='vista-juegos/RE' class="dropdown-item waves-light" mdbWavesEffect>RETRO</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" tabindex="0">
          TORNEOS<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a routerLink='vista-torneos' class="dropdown-item waves-light" mdbWavesEffect>COMPETICIONES</a>
          <a routerLink='vista-torneos/vista-reglamento' class="dropdown-item waves-light" mdbWavesEffect>REGLAMENTO</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink='vista-foro' class="nav-link waves-light" mdbWavesEffect>FORO</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle type="button" class="perfil nav-link dropdown-toggle waves-light" tabindex="0">
          <img src="./../../assets/img/perfil.png" alt="Usuario" class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a routerLink='account/register' class="dropdown-item waves-light" mdbWavesEffect>REGISTRO</a>
          <a routerLink='account/login' class="dropdown-item waves-light" mdbWavesEffect>LOGIN</a>
          <a routerLink='account/profile' class="dropdown-item waves-light" mdbWavesEffect>PERFIL</a>
          <a routerLink='account/suscripciones' class="dropdown-item waves-light" mdbWavesEffect>SUSCRIPCIONES</a>
          
        </div>
      </li>
    </ul>

  </links>
  <!-- Collapsible content -->
</mdb-navbar>
</div>

<!--/.Navbar-->




<!-- <div class="navbar" id="navbar">

  <div class="dropdown effect01">
    <a routerLink='vista-noticias'>NOTICIAS</a>
  </div>

  <div class="dropdown">
    <a routerLink='vista-audiovisuales'>VIDEOS</a>
    <div class="dropdown-content effect01">
      <a routerLink='vista-streammings'>STREAMINGS</a>
    </div>
  </div>

  <div class="dropdown">
    <a routerLink='vista-juegos'>JUEGOS</a>
    <div class="dropdown-content effect01">
      <a routerLink='vista-juegos/RE'>RETRO</a>
    </div>
  </div>

  <div class="dropdown">
    <a routerLink='vista-torneos'>TORNEOS</a>
    <div class="dropdown-content effect01">
      <a routerLink='vista-torneos/vista-reglamento'>REGLAMENTO</a>
    </div>
  </div>

  <div class="dropdown effect01">
    <a routerLink='vista-foro'>FORO</a>
  </div>

  <div class="dropdown">
    <a routerLink='account/register'>REGISTRO</a>
    <div class="dropdown-content effect01">
      <a routerLink='account/login'>LOGIN</a>
    </div>
  </div>

  <div class="dropdown login effect01">
    <a routerLink='/'>INICIO</a>
  </div>

  <div class="dropdown login effect01">
    <a routerLink='/account/login'>LOGIN</a>
  </div>

  <a class="icon">&#9776;</a>

</div> -->