button {
  background-color: black;
  color: white;
  &:hover {
    background-color: limegreen;
  }
}

input {
  background-color: black;
  color: limegreen;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #bb0011;
  width: 100%;
  z-index: 1;
  padding: 0 1rem;

  a {
    // float: left;
    // font-size: 16px;
    color: white;
    // text-align: center;
    // padding: 14px 16px;
    text-decoration: none;
    padding: 0 15px;
  }
}

.dropdown {
  // float: left;
  padding: 0.7em 1.5em;
  // margin: 0;
  // border: none;
  // outline: none;
  // overflow: hidden;
}

.dropdown:hover {
  background-color: black;
}

.dropdown-content {
  display: none;
  left: 0;
  top: 2.8rem;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #bb0011;
}

.dropdown-content a:hover {
  background-color: #ddd;
  // -webkit-box-shadow: 0px 0px 0px 2px black inset;
  // box-shadow: 0px 0px 0px 2px black inset;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Fondos*/
.effect01 {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/*Textos*/
.effect01:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.2s ease-out;
  z-index: 2;
  background-color: black;
}

/*Iluminacion*/
.effect01:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  top: -50px;
  width: 50px;
  opacity: 0.8;
  position: absolute;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}

.effect01:hover:after {
  background: #fff;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.effect02 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.effect02:hover {
  background-color: #bb0011;
  // -webkit-box-shadow: 0px 0px 0px 4px black inset;
  //     box-shadow: 0px 0px 0px 4px black inset;
  // border-radius: 50px 50px 0px 0px;
  background-color: black;
  //   -webkit-transform: rotate(20deg);
  // transform: rotate(20deg);
}

a.icon {
  display: none;
}

@media screen and (max-width: 1050px) {
  a:not(:first-child),
  .dropdown {
    display: none;
  }
  a.icon {
    float: right;
    display: block;
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .navbar.responsive {
    position: sticky;
    top: 0;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive .dropdown {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown {
    display: block;
    width: 100%;
    text-align: left;
  }
}
