<div class="row">
    <div class="col-lg-6 col-md-5 col-sm-5 col-12">
        <h2>VIDEOS</h2>
    </div>
    <div class="input-group col-lg-6 col-md-7 col-sm-7 col-12">
        <input class="video-filter form-control" type="text" placeholder="Buscar en videos" aria-label="Search"
            (change)="searchFunction($event.target.value)">
        <span class="inpug-group-append">
            <button class="btn btn-secondary" type="button">Buscar</button>
        </span>
    </div>
</div>

<div >
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[0]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[0] +'/hqdefault.jpg'}}" alt="Video">
            </a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[0]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[1]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[1] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[1]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[2]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[2] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[3]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[3]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[3] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[3]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[4]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[4] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[4]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[5]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[5] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[5]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[6]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[6] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[6]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[7]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[7] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[7]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[8]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[8] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[8]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[9]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[9] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[9]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[10]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[10] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[10]}}</h3>
    </article>
    <article class="video">
        <figure>
            <a class="fancybox fancybox.iframe" routerLink="vistaVideo/{{response[11]}}">
                <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[11] +'/hqdefault.jpg'}}"></a>
        </figure>
        <h3 class="videoTitle">{{videoTitles[11]}}</h3>
    </article>
</div>