@import "./../../../mixins";
@import "./../../../variables"; 


.video-filter{
    width: 100%;
}

.input-group{
    float: right;
    min-width: 10rem;
}

.btn{
    background-color: $rojo;
    color: $blanco;
    font-weight: bold;

    &:hover{
        background-color: $negro;
    }
}

img {
    max-width: 100%;
    height: auto;
}

// .video-displayer{
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     padding-top: 2vh;
// }

.video {
    box-shadow: 0 1px 1px $negro(0, 0, 0, 0.15);
    width: 23%; 
    margin: 1%;
    padding-bottom: 2%;
    float: left;
    background-color: black;
    border-radius: 7px;
}


.video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-top: 8%;

    .video figure a {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 0;
    }
}


@media (max-width: 1024px) {
    .video {
        width: 31.333%; 
    }
}

@media (max-width: 600px) {
    .video {
        width: 48%;
    }
}

@media (max-width: 360px) {
    .video {
        display: block;
        width: 96%;
        margin: 2%;
        float: none;
    }
}


// .video img {
//     width: 100%;
//     opacity: 1;
// }

.video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
}
.videoTitle{
    font-size: 16px;
    height: 20px;
    color: $blanco;
}

// .title{
//     font-size: 30px;
//     color: aqua;
//     width: 100%;
//     text-align: center;

// }

@media screen and (max-width: 420px) {

    .video-filter{
        width: 96%;
        margin: 0% 2%;
    }
}