<input class="video-filter" type="search" placeholder="Buscar en videos" aria-label="Search" (change)="searchFunction($event.target.value)">
<article class="video">
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)" >
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[0] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe"  (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[1] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[2] +'/hqdefault.jpg'}}"></a>          
    </figure>       
</article>
<article class="video">
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[3] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[4] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[5] +'/hqdefault.jpg'}}"></a>          
    </figure>       
</article>
<article class="video">
    <figure>      
        <a class="fancybox fancybox.iframe"(click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[6] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[7] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[8] +'/hqdefault.jpg'}}"></a>          
    </figure>       
</article>
<article class="video">
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[9] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[10] +'/hqdefault.jpg'}}"></a>          
    </figure>
    <figure>      
        <a class="fancybox fancybox.iframe" (click)="openDialog($event.target.src)">
        <img class="videoThumb" src="{{'//img.youtube.com/vi/'+response[11] +'/hqdefault.jpg'}}"></a>          
    </figure>       
</article>
<script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="js/jquery.fancybox.min.js"></script>

  <script>
    $(document).ready(function() {
      $('.fancybox').fancybox({
        padding   : 0,
        maxWidth  : '100%',
        maxHeight : '100%',
        width   : 560,
        height    : 315,
        autoSize  : true,
        closeClick  : true,
        openEffect  : 'elastic',
        closeEffect : 'elastic'
      });
    });
  </script>