<section id="profile" class="container">
    <div class="row mt-5">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
        </div>
        <div class="row user-details">
          <div class="col-12">
            <img src="../../../assets/img/perfil.png" class="rounded-circle img-thumbnail" alt="profile">
            <p>Nombre: </p><h5>{{TUser.nombre}}</h5>
            <p>Token: </p><h5>{{TUser}}</h5>
            <a href='http://alum3.iesfsl.org/bck/index.php'><span>Acceder al Back.</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>