@import "./../../../variables";

.btn{
    margin: 1% auto;
    background-color: $rojo;
    color: $blanco;
    
    &.checkin{  
        display: none;
        background-color: $verde;
    }

    &:hover{
        background-color: $negro;
        color: $blanco;
    }
}

.center{
    text-align: center;
    background-color: black; 
    opacity: 0.9; color: white;
}