<section id="profile" class="container">
  <div *ngIf="TUser!==undefined; else LOGIN" class="row mt-5">
    <!-- <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
      <div class="row user-details">
        <div class="col-12">
          <img src="../../../assets/img/perfil.png" class="rounded-circle img-thumbnail" alt="profile">
          <p>Nombre: </p>
          <h5>{{TUser.nombre}}</h5>
          <p>Token: </p>
          <h5>{{TUser.token}}</h5>
          <a href='http://alum3.iesfsl.org/bck/index.php'><span>Acceder al Back.</span></a>
        </div>
      </div>
    </div> -->


  <!-- Section: Contact v.2 -->
  <section *ngIf="TUser!==undefined" class="my-5" style="background-color: black; opacity: 0.9; color: white;">
    <h2 class="h1-responsive font-weight-bold text-center my-5">PERFIL</h2>
    <div class="row">
      <div class="col-md-7 mb-md-0 mb-5">
          <div class="row">
            <div class="col-md-12">
                <h3>{{TUser.nombre}}</h3>
            </div>

            <div class="col-md-12">
                <h3>{{TUser.token}}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              
            </div>
          </div>
          
        <div class="text-center text-md-left">
          <a class="btn" mdbBtn mdbWavesEffect title="Modificar datos">Modificar</a>
        </div>
        <div class="text-center text-md-left">
          <a class="btn" mdbBtn mdbWavesEffect title="Borrar cuenta">Borrar cuenta</a>
        </div>
        <div class="text-center text-md-left">
          <a class="btn" mdbBtn mdbWavesEffect title="Desconectarse" (click)="logout()">LogOut</a>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <img src="../../../assets/img/perfil.png" class="rounded-circle img-thumbnail" alt="profile">
      </div>
    </div>
  </section>
  </div>


  <ng-template #LOGIN>
    <section style="background-color: black; opacity: 0.9; color: white;">
      <div class="center">Inicia sesion para ver tu perfil</div>      
        <a routerLink='/account/login' class="dropdown-item waves-light" mdbWavesEffect>LOGIN</a>
    </section>
  </ng-template>
</section>





