<div *ngIf="isUserLoggedIn; else login">
    <div class="chat row p-0">


        <div class="contacts col-sm-4 col-md-3 col-lg-4 col-xl-3 p-0">
            <app-contacts></app-contacts>
        </div>

        <div class="messages col-sm-8 col-md-9 col-lg-8 col-xl-9 p-0">
            <app-messages></app-messages>
        </div>


    </div>
</div>
<ng-template #login>
    <section>
        <div class="center">
            <p>Inicia sesion para acceder al Chat</p>
            <a routerLink='/account/login' class="dropdown-item waves-light" mdbWavesEffect>LOGIN</a>
        </div>
        <div class="center">
            <p>Registrate si no dispones de una cuenta</p>
            <a routerLink='/account/register' class="dropdown-item waves-light" mdbWavesEffect>REGISTRATE</a>
        </div>

    </section>
</ng-template>