// .componentes{
//     // margin: 2%;
//     z-index: 1;
//     position: fixed;
// }
// .contents{
//     width: 100%;
//     border: 4px red solid;
// }
// .row{
//     padding-top: 10%;
// }

.barra-lateral{
    background-color: black; 
    border: solid 5px #bb0011; 
    border-top: none;
    padding-bottom: 3%;
}