<app-header></app-header>
<app-nav></app-nav>

<div class="container-fluid">
    <div class="row">

        <span class="openbtn d-none d-md-block" *ngIf="sidechat" (click)="openNavi(); sidechat=false"
            title="Chat Lateral!">💬</span>

        <div class="content col-xl-10 col-md-9 col-12">
            <router-outlet></router-outlet>
        </div>

        <div class="barra-lateral col-xl-2 col-md-3 col-12">
            <app-lateralbar></app-lateralbar>
        </div>

        <div id="mySidenav" class="sidenav d-none d-md-block">
            <a class="closebtn p-0" (click)="closeNavi(); sidechat=true">&times;</a>
            <app-sidechat-layout></app-sidechat-layout>
        </div>


    </div>
</div>

<app-footer></app-footer>