.content {
    padding: 1% 4%;
    background-image: url('./../assets/img/wall.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 41rem;
}    

.barra-lateral {
    border: solid 5px #80000b;
    border-top: none;
    border-bottom: none;
    padding-bottom: 1%;
}

@media screen and (max-width: 767px) {

    .barra-lateral {
        border-top: solid 5px #80000b;
    }
}

@media screen and (max-width: 576px) {
    
    .content {
        padding: 1% 2%;
    }
}