<h2>NOTICIAS DEL MUNDO GAMER</h2>

<div class="caja">

    <h1 class="titulo">Among Us recibe un mod con nuevos roles: médico, ingeniero, payaso y policía</h1>

    <h3 class="info">Estos nuevos tipos de personajes cambian la forma de jugar.</h3>

    <div class="imagenCaja">
        <img src="https://media.vandal.net/i/1706x960/2-2021/20212519313695_1.jpg.webp" alt="Imagen noticia">
    </div>

    <div class="descaja">

        <p class="texto"><br>Among Us se convirtió en todo un fenómeno del juego online a finales del verano pasado después
            de llevar publicado un par de años. Tras ese increíble éxito, sus creadores cancelaron la segunda parte en
            la que estaban trabajando y se decidieron a implementar todas las novedades en este primer juego. Ahora la
            comunidad de jugadores se ha sumado a ese objetivo y está creando nuevo contenido en forma de mods.
            <br><br>
            Uno de estos mods es especialmente interesante porque añade nuevos roles a Among Us, que de momento sólo
            tiene dos: el impostor y los tripulantes. El usuario Hunter101 ha publicado esta modificación que añade
            cuatro tipos de personaje más: el médico, el ingeniero, el policía y el payaso, cada uno con sus objetivos
            propios. Se puede descargar gratis para PC aquí, página en la que también hay unas instrucciones para
            instalar el mod.
            <br><br>
            <strong>Nuevas habilidades y objetivos para cada nuevo rol:</strong>
            <br><br>
            Como decíamos, cada uno de estos nuevos roles tiene un objetivo especial, así como habilidades únicas. El
            ingeniero, por ejemplo, tiene el poder de reparar una emergencia por partida e incluso puede utilizar el
            sistema de ventilación que antes sólo podía utilizar el impostor. El policía, por otro lado, puede disparar
            a todos los jugadores para descubrir quién es el impostor, pero si se equivoca y dispara a un tripulante
            morirá inmediatamente.
            <br><br>
            Los otros dos nuevos roles son también muy particulares: el médico puede dar un escudo a cualquier jugador,
            además de investigar cada cuerpo que aparezca para conseguir pistas que indiquen quién es el impostor,
            mientras que el payaso tiene un único objetivo: que le expulsen de la partida; si consigue que el resto de
            jugadores voten para echarle, gana automáticamente.
            <br>
            De momento este mod es exclusivo de la versión de PC, pero quizás en el futuro pueda llegar a Xbox Series
            X/S, Xbox One, Nintendo Switch y móviles si los creadores de Among Us valoran la idea y la integran en el
            juego oficial, algo de lo que ya se ha hablado en varias ocasiones. De momento lo último que se ha añadido
            al juego ha sido un mapa, Airship, y ciertas novedades adicionales.</p>

        <div class="detalle">Diario JUEGOS - 2021-02-08 15:59:23</div>

    </div>
</div>