<h2>NOTICIAS DEL MUNDO GAMER</h2>

<div *ngFor="let noticia of noticias">

    <div class="caja" *ngIf="ID.id==noticia.id">

        <h1 class="titulo">
            <a routerLink="/vista-noticias" style="float: left;">
                <img src="./../../../assets/img/juegos/back.png" />
            </a>{{noticia.titulo}}
        </h1>

        <h3 class="info">{{noticia.descripcion}}</h3>

        <div class="imagenCaja">
            <img src="{{noticia.imagen}}" alt="Imagen noticia">
        </div>

        <div class="descaja">

            <p class="texto">{{noticia.texto}}</p>

            <a routerLink="/vista-noticias" style="float: left;">
                <img src="./../../../assets/img/juegos/back.png" />
            </a>
            <div class="detalle">{{noticia.autor_id}} - {{noticia.fecha}}</div>

        </div>

    </div>
</div>