.seccion {
  max-height: 79vh;
}

.white {
  background-color: white;
  border-radius: 10px;
  max-width: 90%;
}

.friend-list li {
  border-bottom: 1px solid #e0e0e0;
}
.friend-list li:last-of-type {
  border-bottom: none;
}

img.rounded-circle {
  border-radius: 50%;
}

img.avatar {
  height: 3rem;
  width: 3rem;
}

.text-small {
  font-size: 0.95rem;
}

.text-smaller {
  font-size: 0.85rem;
}

.avatar {
  width: 3rem;
  background-color: white;
}

.chat {
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
  scrollbar-color: gray black;
  -webkit-scrollbar-color: gray black;
  max-height: 63.5vh;
  // height: 35rem;
  height: 100vh;
  overflow-x: hidden;
  background-color: transparentize($color: gray, $amount: 0.5);

  .default {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
  }
}

.info-chat {
  display: flex;
  background-color: gray;
  background: linear-gradient(
    to right,
    #80000b 0%,
    gray 40%,
    gray 90%,
    black 100%
  );
  border-bottom: solid 2px transparent;
  border-image: linear-gradient(to right, #80000b, gray, black);
  // border-image-slice: 1;
  z-index: 1;
  top: 0;
  position: sticky;
  height: 3.5rem;
}

@media screen and (max-height: 683px) {
  .info-chat {
    top: 3.5rem;
  }
}

.textarea-chat {
  bottom: 0;
  position: sticky;
  position: -webkit-sticky;
  height: 3rem;

  .form-group {
    border-right: 8px double black;
    display: flex;
    background-color: rgb(80, 80, 80);
    background: linear-gradient(
      to bottom,
      rgb(39, 39, 39) 0%,
      rgb(80, 80, 80) 10%,
      rgb(80, 80, 80) 90%,
      rgb(39, 39, 39) 100%
    );
    height: 100%;

    input {
      width: 90%;
      resize: none;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      color: black;
    }

    a {
      cursor: pointer;
    }
  }
}

.header {
  background-color: transparentize($color: gray, $amount: 0.9);
  border-radius: 5px;
}

.local {
  justify-content: start;
}
.amigo {
  justify-content: end;
}
