<div class="seccion">

    <!-- Header datails field -->

    <div *ngIf="sM.parametro">
        <div *ngFor="let chat of chat">
            <div class="info-chat d-flex justify-content-center align-items-center p-1"
                *ngIf="chat.id === sM.parametro">
                <img src="./../../../assets/img/perfiles/{{chat.avatar}}" alt="avatar"
                    class="avatar rounded-circle d-flex align-self-start mx-3 z-depth-1">
                <strong class="primary-font mx-3 my-auto">{{chat.name}}</strong>
            </div>
        </div>
    </div>
    <div *ngIf="!sM.parametro">
        <div class="info-chat d-flex justify-content-center m-0 p-1">
            <img src="./../../../assets/img/perfiles/groupChat.png" alt="avatar"
                class="avatar rounded-circle d-flex align-self-start mx-3 z-depth-1">
            <strong class="primary-font mx-3 my-auto">Selecciona Conversación</strong>
        </div>
    </div>

    <!-- Messages field -->
    <div class="chat px-2" id="chat">
        <div class=" mb-3" *ngIf="sM.parametro">

            <li [ngClass]="{'local':message.sender_id == iduseract, 'amigo': message.sender_id != iduseract }"
                class="d-flex my-2" *ngFor="let message of messages">
                <div class="chat-body white p-2 z-depth-1" *ngIf="message.chat_id === sM.parametro">
                    <div class="header">
                        <strong class="primary-font" *ngIf="message.sender_id === iduseract">Tu</strong>
                        <strong class="primary-font" *ngIf="message.sender_id != iduseract">{{message.nombre}}</strong>

                        <small class="pull-right text-muted">
                            <mdb-icon far icon="clock"></mdb-icon>{{message.mdate}}
                        </small>
                    </div>
                    <hr class="w-100 m-1">
                    <p class="text-small mb-0">
                        {{message.message}}
                    </p>
                </div>
            </li>
            <li [ngClass]="{'local':message.sender_id == iduseract, 'amigo': message.sender_id != iduseract }"
                class="d-flex my-2" *ngFor="let message of sM.mensajes">
                <div class="chat-body white p-2 z-depth-1" *ngIf="message.chat_id === sM.parametro">
                    <div class="header">
                        <strong class="primary-font" *ngIf="message.sender_id === iduseract">Tu</strong>
                        <strong class="primary-font"
                            *ngIf="message.sender_id != iduseract">{{message.sender_id}}</strong>
                        <small class="pull-right text-muted">
                            <mdb-icon far icon="clock"></mdb-icon>{{message.mdate}}
                        </small>
                    </div>
                    <hr class="w-100 m-1">
                    <p class="text-small mb-0">
                        {{message.message}}
                    </p>
                </div>
            </li>

        </div>
        <div *ngIf="!sM.parametro">
            <div class="default">Abre una conversación o inicia una nueva de tu agenda</div>
        </div>
    </div>

    <!-- TextArea field -->
    <div class=" textarea-chat mb-0">
        <form (submit)="sendMessage()" class="form-group mb-0">
            <input type="text" class="form-control my-1 mx-2" placeholder="Envia mensaje" [(ngModel)]="text"
                [ngModelOptions]="{standalone:true}">
            <a class="waves-effect waves-light float-right m-2 px-2 py-0" type="submit" (click)="sendMessage()">
                <img src="./../../../assets/img/arrow.png" style="width: 2rem;"></a>
        </form>
    </div>
</div>