<h2>SUSCRIPCIONES</h2>
  <div class="row">
    <div class="tarjeta col-md-6 col-lg-4 col-sm-6 col-xs-12">
      <mat-card>
        <h3>SUSCRIPCIÓN BÁSICA</h3>        
          <img mat-card-image src="../../../assets/img/suscripcion/basica.jpg" alt="Imagen del Torneo">
          <div class="botones">
            <a routerLink="/detalle-suscripciones" class="btn mat-button">Información</a>          </div>
      </mat-card>
    </div>

    <div class="tarjeta col-md-6 col-lg-4 col-sm-6 col-xs-12">
      <mat-card>
        <h3>SUSCRIPCIÓN GAMER</h3>
          <img mat-card-image src="../../../assets/img/suscripcion/gamer.jpg" alt="Imagen del Torneo">
          <div class="botones">
          <a routerLink="/detalle-suscripciones" class="btn mat-button">Información</a>
        </div>
      </mat-card>
    </div>


  </div>