<div class="seccion col-md-8">
  <h2>SUSCRIPCIONES</h2>
  <div class="row">

    <div class="tarjeta col-md-6 col-lg-6 col-sm-6 col-12">
      <mat-card>
        <h3>SUSCRIPCIÓN BÁSICA</h3>
        <img mat-card-image src="../../../assets/img/suscripcion/bulb.png" alt="Imagen del Torneo">
        <div class="botones">
          <a routerLink="/detalle-suscripcion-basica" class="btn mat-button">Información</a>
        </div>
      </mat-card>
    </div>

    <div class="tarjeta col-md-6 col-lg-6 col-sm-6 col-12">
      <mat-card>
        <h3>SUSCRIPCIÓN GAMER</h3>
        <img mat-card-image src="../../../assets/img/suscripcion/key.png" alt="Imagen del Torneo">
        <div class="botones">
          <a routerLink="/detalle-suscripcion-gamer" class="btn mat-button">Información</a>
        </div>
      </mat-card>
    </div>

  </div>
</div>