@import "./../../../mixins";
@import "./../../../variables";

// CONTENIDO APARTADO
.caja{
    min-height: 2rem;
    background: $blanco;
    border: 0;
    margin-bottom: 2%;
    overflow: hidden;
    width: 100%;
    min-width: 15rem;
    max-width: 100rem;
    height: auto;
    border-radius: 3px;

    .titulo{
        float: right;
        width: 62.8%;
        margin: .5% 3% 0%;
        line-height: 20px;
        margin-bottom: .3em;
        font-size: 1.4em;
        color: $negro;
        text-decoration: underline;
        text-align: center;
    }   

    .imagenCaja{
        float: left;
        position: relative;
        width: 100%;
        max-width: 31.2%;

        img{
            width: 100%;
            max-width: 380px;
            max-height: 240px;
            height: auto;
            vertical-align: middle;
            border: 0;
        }
    }

    .botones{
        text-align: left;
        margin: 2% 0.5%;

        .btn{
            margin: 0% 5%;
            background-color: $rojo;
            color: $blanco;
            
            &.checkin{  
                display: none;
                background-color: $verde;
            }

            &:hover{
                background-color: $negro;
                color: $blanco;
            }
        }
    }

    .descaja{
        float: right;
        width: 62.4%;
        margin: 0% 3.2%;
        padding-bottom: 1%;

        .participantes{
            color: $rojo;
            font-weight: bold;
            border: 1px solid black;
            text-align: center;
            border-radius: 3px;

            .confirmados{
                color: $verde;
                margin: 0;
            }
        }

        .info{
            text-align: justify;
            color: $negro;
            margin-top: .3em;
            padding-bottom: 2%;
            font-size: 1em;
            line-height: 1.2em;
        }

        .botones{
            text-align: center;
            margin: 2% 0.5%;

            .btn{
                margin: 0% 5%;
                background-color: $rojo;
                color: $blanco;
                
                &.checkin{  
                    display: none;
                    background-color: $verde;
                }

                &:hover{
                    background-color: $negro;
                    color: $blanco;
                }
            }
        }
    }
}

// PANTALLA MOVIL
@media screen and (max-width: 420px) {

    .caja{
        .titulo{
            line-height: 25px;
        }

        .descaja{
            text-align: right;
            width: 93.6%;
            padding-bottom: 1%;
            
            .detalle{
                padding-top: 0.5%;
            }

            .fecha{
                text-align: center;
            }
        }
    }
}