@import "./../../../mixins";
@import "./../../../variables";

// CONTENIDO APARTADO
.caja{
    min-height: 2rem;
    background: $blanco;
    border: 0;
    margin-bottom: 2%;
    overflow: hidden;
    width: 100%;
    min-width: 15rem;
    max-width: 100rem;
    height: auto;
    border-radius: 3px;

    .result {

        .titulo{
            float: right;
            width: 68%;
            min-height: 2rem;
            max-height: 5rem;
            padding: 1%;
            margin: 0;
            line-height: 20px;
            font-size: 1.4em;
            color: $negro;
            text-decoration: underline;
            text-align: center;
            background-color: #999;
        }   

        .imagenCaja{
            float: left;
            max-width: 32%;

            img{
                width: 100%;
                height: 100%;
                max-width: 400px;
                max-height: 280px;
                border: 0;
            }  
        }
    }
    
    .botones{
        text-align: left;
        margin: 2% 0.7%;

        .btn{
            margin: 0% 5%;
            background-color: $rojo;
            color: $blanco;
            
            &.checkin{  
                display: none;
                background-color: $verde;
            }

            &:hover{
                background-color: $negro;
                color: $blanco;
            }
        }
    }

    .descaja{
        float: right;
        width: 68%;
        padding-left: 2%;

        .participantes{
            width: 100%;
            background-color: #999;
            color: $negro;
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            margin: .5% 0%;

            .confirmados{
                color: $negro;
                margin: 0;
            }
        }

        .info{
            text-align: justify;
            color: $negro;
            padding: 1% 2% 1% 0%;
            font-size: 1em;
            line-height: 1.2em;
        }

        .botones{
            text-align: center;
            margin: 0% 2%;

            .btn{
                margin: 1% auto;
                background-color: $rojo;
                color: $blanco;
                
                &.checkin{  
                    display: none;
                    background-color: $verde;
                }

                &:hover{
                    background-color: $negro;
                    color: $blanco;
                }
            }
        }
    }
}

// PANTALLA MOVIL
@media screen and (max-width: 420px) {

    .caja{
        .result{
            background-color: #999;
            min-height: 3.2rem;
            max-height: 5rem;
            height: auto;

            .titulo{
                line-height: 20px;
            }

            .imagenCaja{
                height: 100%;
                // float: none;
            }
        }

        .descaja{
            // text-align: right;
            width: 100%;
            padding-bottom: 1%;
            
            .detalle{
                padding-top: 0.5%;
            }

            .fecha{
                text-align: center;
            }
        }
    }
}