<div class="datos">
  <!--Titulo-->
  <div class="barra"></div>
  <h2 class="h1 py-5">TU CARRITO</h2>
  <!--Main Layout-->
  <main>

    <!-- Main Container -->
    <div class="container">

      <section class="section my-5 pb-5">

        <!-- Tabla del carro -->
        <div class="table-responsive">
          <table class="table product-table">
            <br>

            <!-- Rows de cada articulo -->
            <div *ngIf="precio_total!=0"
              style="background-color: rgb(226, 222, 217); border-radius: 20px; margin: 1em; padding: 1em;">
              <!-- Nombres contenido -->
              <tr>
                <th>

                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Precio
                </th>
                <th>
                  Precio+IVA
                </th>
                <th>
                  Cantidad
                </th>
                <th>
                  Total
                </th>
                <th>
                  Borrar
                </th>
              </tr>

              <!-- Articulos del carro -->
              <ng-container *ngFor="let item of items">
                <tr>
                  <th scope="row" class="imagen">
                    <img src="http://alum3.iesfsl.org/assets/img/tienda/{{item.it.imagen}}" alt=""
                      class="img-fluid z-depth-0">
                  </th>

                  <td><a routerLink="/vista-producto/{{item.it.id}}" class="dark-grey-text">{{item.it.nombre}}</a></td>

                  <td>{{item.it.precio | currency:'EUR':symbol}}</td>

                  <td>{{item.it.precio--((item.it.precio *item.it.IVA)/100) | currency:'EUR':symbol}}</td>

                  <td class="text-center text-md-left">
                    <span class="qty">{{item.can}} </span>
                  </td>

                  <td class="font-weight-bold">
                    <strong>{{item.total | currency:'EUR':symbol}} </strong>
                  </td>

                  <td>
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                      title="Remove item" (click)="removeUpload(item)">X
                    </button>
                  </td>
                </tr>
              </ng-container>

            </div>
            <!-- Rows de cada articulo -->

            <hr>
            <!-- Linea inferior, total -->
            <div style="color: whitesmoke;" *ngIf="precio_total!=0"> PRECIO {{total_si | currency:'EUR':symbol}}</div>
            <div style="color: whitesmoke;" *ngIf="total_si!=0&&precio_total!=0"> IVA {{precio_total-total_si |
              currency:'EUR':symbol}}</div>
            <div style="color: whitesmoke;" *ngIf="precio_total!=0"> PRECIO TOTAL {{precio_total |
              currency:'EUR':symbol}}</div>
            <button *ngIf="precio_total!=0&&!isUserLoggedIn" type="button" class="btn btn-sm btn-primary"
              data-toggle="tooltip" data-placement="top" title="Remove item" (click)="removeUpload(item)">Vaciar Carro
            </button>
            <!-- Linea inferior, total -->

          </table>
          <!-- Form para comprar -->
          <div *ngIf="isUserLoggedIn; else logeate">

            <button *ngIf="precio_total!=0" type="submit" class="btn btn-primary" data-toggle="tooltip"
              data-placement="top" title="Remove item" (click)="clearCart(item)">Vaciar Carro
            </button>

            <button *ngIf="precio_total!=0" class="btn btn-danger" (click)="triggerModal(modalData)">Verificar
              Datos</button>

            <div *ngIf="precio_total==0" class="motto" style="text-align: center; "> <br>AÑADE ALGUN PRODUCTO AL CARRITO
            </div>

            <!-- Modal para insertar datos -->
            <ng-template #modalData let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="verifica">Terminos de Compra</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <form *ngIf="precio_total!=0&&idus!=0" [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="total" ngModel="{{precio_total}}" />
                <input type="hidden" formControlName="total_si" ngModel="{{total_si}}" />
                
                <div class="bg-white rounded-lg shadow-sm p-5">
                  Al realizar la compra aceptas que los productos vendidos por InitialG son productos digitales o limitados y que una vez comprados no se podrá realizar la devolución de estos.
                  Al marcar el checkbox o realizar una compra aceptas estass condiciones de venta.<br>

                  <div class="form-group">
                    <label for="noretorno"><b>Este producto no tiene devolución</b></label>
                    <div class="input-group">
                        Aceptar<input type="checkbox" name="noretorno"  [(ngModel)]="noretorno" formControlName="noretorno" required>
                    </div>
                  </div>

                </div>

                <!-- Paypal  -->
                <div class="bg-white rounded-lg shadow-sm p-5" >

                  <ngx-paypal *ngIf="showPaypalButtons" 
                    [config]="payPalConfig" [disabled]="!noretorno">
                  </ngx-paypal>

                </div>
                <!-- Fin Paypal -->

                <div class="modal-footer">
                  
                  <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>

                  <button class="btn btn-primary" *ngIf="!showPaypalButtons" (click)="pay()" [disabled]="!noretorno">Pagar</button>

                  <button class="btn btn-primary" *ngIf="showPaypalButtons" (click)="back()">Volver atras</button>               
                </div>

              </form>

            </ng-template>
            <!-- Modal para insertar datos -->

          </div>

          <ng-template #logeate style="text-align: center;">
            <a *ngIf="!precio_total==0" class="motto" style="text-align: center;" routerLink='/account/login'>
              Inicia sesión para comprar articulos
            </a>
            <a *ngIf="precio_total==0" class="motto" style="text-align: center;" routerLink='/account/login'>
              Añade algun producto e inicia sesión para poder comprarlo!
            </a>
          </ng-template>
          <!-- Form para comprar -->

        </div>
        <!-- Tabla del carro -->

      </section>

    </div>
    <!-- /Main Container -->

  </main>
  <!--Main Layout-->
  <div class="barra2"></div>
</div>