@import "./../../../mixins";
@import "./../../../variables"; 

// Paginador
.mat-paginator {
    display: inline-block;
    margin: 1%;
    margin-right: auto;
    margin-left: auto;
    background: $gris;
    border-radius: 5px;
}

// Caja de todas las entradas del foro
.card {
    margin: 2%;
    min-height: 33%;
}

.btn{
    background-color: #999;
    font-weight: bold;

    &:hover{
        background-color: $negro;
        color: $blanco;
    }
}