<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2>Bienvenidos al Foro</h2>

  <div class="row">

    <!-- Post Content Column -->
    <div class="card col-lg-7" *ngFor="let entrada of entradas">

      <!-- Date/Time -->
      <p>Publicado en: {{entrada.creado}}</p>

      <hr>

      <!-- Post Content -->

      <blockquote class="blockquote">
        <p class="mb-0">{{entrada.contenido}}</p>
        <footer class="blockquote-footer">
          <cite title="Titulo">{{entrada.titulo}}</cite>
        </footer>
      </blockquote>

      <hr>

      <!-- Comments Form -->
      <div class="col-md-4">
        <a routerLink="detalle-foro" class="btn btn-primary">Comentarios Relacionados</a>
      </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card mb-4">
        <h5 class="card-header">Busqueda</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar en el Foro">
            <span class="inpug-group-append">
              <button class="btn btn-secondary" type="button">Buscar</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categorias</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="../vista-juegos">Juegos Actuales</a>
            </li>
            <li>
              <a routerLink="../vista-juegos">Juegos Retro</a>
            </li>
            <li>
              <a routerLink="../vista-torneos">Torneos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>