.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5% 2%;
}

.mat-card {
    background-color: #818181;
    min-height: 100%;
}

.tarjeta {
    padding: 1rem;
}

.crearTorneo {
    background-color: goldenrod;
}

.crearTorneoBoton {
    background-color: goldenrod;
}

.actual,
.crear,
.retro {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

.btn {
    color: gold;
    background-color: black;
    font-weight: bolder;
    font-size: large;
    font-family: "RockWell";
    margin-right: 9.25%;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "RockWell";
    font-weight: bolder;
    color: #bb0011;
}

h4 {
    margin: auto;
    text-align: center;
    font-family: "RockWell";
    font-weight: bolder;
    color: black;
}
