<!-- Componente Vista Torneos -->

<h2>TORNEOS</h2>

<div class="container">
  <div class="row">

    <!-- Ver Torneos Actuales -->

    <div id="juegosActuales" class="tarjeta col-md-6 col-lg-4 col-sm-6 col-xs-12">

      <mat-card>
        <mat-card-header>

          <h3>

            Juegos Actuales

          </h3>
        </mat-card-header>

        <img class="actual" mat-card-image src="../../../assets/img/torneos/actual.png" alt="Imagen del Torneo">

        <mat-card-content>

          <h4> Torneo Juegos </h4>

          <a (click)="copiaJuegos()" id="detalleTorneoJuegos" href="#" class="btn mat-button">Información</a>
          <a routerLink="torneoActual" class="btn mat-button">Ver más</a>

        </mat-card-content>
      </mat-card>
    </div>

    <div class='juegosCopia' id='juegosCopia' style="display: none;">

      <mat-card class='copiaJuegos'>

        <mat-card-content>Texto de Ejemplo</mat-card-content>

      </mat-card>
    </div>

    <!-- Crear Torneos + Mejorar Suscripcion -->

    <div id="crearTorneo" class="tarjeta col-md-6 col-lg-4 col-sm-6 col-xs-12">
      <mat-card class="crearTorneo">
        <mat-card-header>
          <h3>

            Crea un Torneo

          </h3>
        </mat-card-header>

        <img class="crear" mat-card-image src="../../../assets/img/torneos/crear.png" alt="Crear Torneo">

        <mat-card-content class="crearTorneoBoton">

          <div class="container">

            <!-- <a href="./suscripciones" class="btn btn-primary">Mejora tu Servicio</a> -->
            <a routerLink="crearTorneo" class="btn">Crear Torneo</a>

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Ver Torneos Retro-->

    <div id="juegosRetro" class="tarjeta col-md-6 col-lg-4 col-sm-6 col-xs-12">
      <mat-card>
        <mat-card-header>

          <h3>

            Juegos Retro

          </h3>
        </mat-card-header>

        <img class="retro" mat-card-image src="../../../assets/img/torneos/retro.png" alt="Imagen del Torneo">

        <mat-card-content>

          <h4> Torneo Juegos Retro </h4>

          <a id="detalleTorneoRetro" href="#" class="btn mat-button">Información</a>
          <a routerLink="torneoRetro" class="btn mat-button">Ver más</a>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>