section {
    padding-top: 2.5%;
    padding-right: 2%;
    padding-bottom: 2.5%;
    padding-left: 5%;
}

.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.mat-card {
    background-color: #818181;
    min-height: 100%;
}

.crearTorneo {
    background-color: goldenrod;
}

.crearTorneoBoton {
    background-color: goldenrod;
}

.actual, .crear, .retro {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

.btn {
    color: #12bb00;
    background-color: #006fbb;
    font-weight: bolder;
    font-size: large;
    font-family: "RockWell";
    margin-right: 9.25%;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "RockWell";
    font-weight: bolder;
    color: #bb0011;
}

h4 {
    margin: auto;
    text-align: center;
    font-family: "RockWell";
    font-weight: bolder;
    color: black;
}
