
<div class="main-container">
  <div class="caja">
	  ¡Únete a la suscripción básica para poder acceder al foro y chatear sobre tus temas favoritos con otros usuarios! Sólo por un mínimo de 3€ al mes, ¡con precio especial de 30€ si pagas para todo el año!
	</div>

	<!--  payment page section start -->
	<div class="sction-padding">
		<div class="container">
			 <div class="row">
			 	<div class="col-md-8 col-md-offset-2">
			 		<div class="payment-box">
				 		<div class="suscripcion-cobro">
							<!-- Title bar-->
				 			<div class="payment-title-bar clearfix">
				 				<div class="payment-title">
					 				<h3>Suscripción</h3>
				 				</div> 
				 			</div>
							<!-- Form Box -->
				 			<form  class="form-controls">
				 				<div class="input-email">
									<!-- Input Email Field -->
				 					<label>E-mail </label>
				 					<input type="email" name="email" placeholder="ejemplo@gmail.com">
				 				</div>
                 <div class="input-email">
									<!-- Input Email Field -->
				 					<label>Nombre y apellido </label>
				 					<input type="text" name="nombre" placeholder="aquí tu nombre">
				 				</div>
								<!-- Additional info  Field -->
				 				<div class="additional-info-box">
				 					<div class="additional-info-head">
				 						<h3>Detalles del Pago</h3>
				 						<i class="fa fa-credit-card"></i>
				 				    </div>
				 				    <div class="additional-info clearfix">
				 				    	<div class="card-nb">
						 					<label>Número de tarjeta</label>
						 					<input type="text" name="card-number" placeholder="1234432112344321">
					 					</div>
					 					<div class="expire-info clearfix">
						 					<div class="cv-code"> 
							 					<label>Código Seguridad</label>
							 					<input type="text" name="cv-number" placeholder="420"> 
							 				</div>
							 				<div class="ex-date">  
							 					<label>Fecha de expiración</label>
							 					<input type="text" name="text-date" placeholder="10">
							 					<input type="text" name="text-month" placeholder="12">  
							 				</div>
						 				</div>
					 				</div>
				 				</div>
								<!--bottom part  -->
				 				<div class="form-bottom clearfix"> 
					 				<h4>Pago:<span>(3€ o más)</span></h4>
						 			<div class="pay-price">  
										<input type="text" name="form-price" placeholder="3"/>
										<input type="submit" value="Pago"/>
									</div>  
								</div>
				 			</form>
				 		</div>
				 	</div>
			 	</div>
			 </div>
		</div>
	</div>
</div>


