<section>
    
    <h1 class="my-4">Videos</h1>

    <div class="row">

        <div class="col-lg-4 col-sm-4 portfolio-item">

            <div class="card h-40">

                <iframe width="max" height="215" src="https://www.youtube.com/embed/Fn3g25ZEbak" frameborder="1"
                    allowfullscreen></iframe>

            </div>
            
        </div>

        <div class="col-lg-4 col-sm-4 portfolio-item">

            <div class="card h-40">

                <iframe width="max" height="215" src="https://www.youtube.com/embed/DPW6fkcM-14" frameborder="1"
                    allowfullscreen></iframe>

            </div>

        </div>

        <div class="col-lg-4 col-sm-4 portfolio-item">

            <div class="card h-40">

                <iframe width="max" height="215" src="https://www.youtube.com/embed/1UhFWoDZLxA" frameborder="1"
                    allowfullscreen></iframe>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 portfolio-item">

            <div class="card h-40">

                <iframe width="max" height="215" src="https://www.youtube.com/embed/Fn3g25ZEbak" frameborder="1"
                    allowfullscreen></iframe>

            </div>

        </div>

        <div class="col-lg-4 col-sm-4 portfolio-item">

            <div class="card h-40">

                <iframe width="max" height="215" src="https://www.youtube.com/embed/DPW6fkcM-14" frameborder="1"
                    allowfullscreen></iframe>

            </div>

        </div>

        <div class="col-lg-4 col-sm-4 portfolio-item">

            <div class="card h-40">

                <iframe width="max" height="215" src="https://www.youtube.com/embed/1UhFWoDZLxA" frameborder="1"
                    allowfullscreen></iframe>

            </div>

        </div>

    </div>

</section>