.dialogo, h1 {
    font-family: "RockWell";
}

button {
    background: linear-gradient(to bottom, black 0%, #534c4c 50%, black 100%);
    color: white;
    &:hover {
        transition: all 0.5s ease-in-out;
        background: linear-gradient(to bottom, black 0%, limegreen 50%, black 100%);
    }
}
